In [2]:
import pandas as pd 

headers = ['id', 'title', 'year', 'rate', 'votes', 'length', 'category']

data = pd.read_csv('imdb_top_10000.txt', sep='\t', index_col=0, names=headers)

### 1) What was the highest scoring movie in 1996?

In [3]:
data[data['year'] == 1996].sort_values(by='rate').tail(1)

                  title  year  rate   votes    length              category
id
tt0116282  Fargo (1996)  1996   8.3  187498  98 mins.  Crime|Drama|Thriller

### 2) In what year was the highest rated movie of all time made?

In [34]:
data[data.rate == data.rate.max()] 

# data.sort_values(by='rate', ascending=False).head(1)

,title,year,rate,votes,length,category
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.2,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,9.2,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,9.2,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,9.2,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
...,...,...,...,...,...,...
tt0807721,Meduzot (2007),2007,9.2,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,9.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,9.2,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,9.2,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,9.2,1356,96 mins.,Comedy|Drama

### 3) What five movies have the most votes ever?

In [28]:
data.sort_values(by="votes", ascending=False).head()

,title,year,rate,votes,length,category
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0468569,The Dark Knight (2008),2008,9.2,555122,152 mins.,Action|Crime|Drama|Thriller
tt0110912,Pulp Fiction (1994),1994,9.2,490065,154 mins.,Crime|Thriller
tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
tt0137523,Fight Club (1999),1999,9.2,458173,139 mins.,Drama|Mystery|Thriller

### What year in the 1960s had the highest average movie rating?

In [97]:
data[(data.year >= 1960) & (data.year < 1970)].groupby(data['year'])[['rate']].mean()

      rate
year
1960   9.2
1961   9.2
1962   9.2
1963   9.2
1964   9.2
1965   9.2
1966   9.2
1967   9.2
1968   9.2
1969   9.2