# Import pandas and read data

In [4]:
import pandas as pd

In [ ]:
names = ['id', 'name', 'year', 'rate', 'votes', 'duration', 'category']
data = pd.read_csv('imdb_top_10000.txt', sep='\t', names=names, index_col=0)

In [ ]:
data

# Exploring data

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.sort_values(by='rate', ascending=False)

# Read from python dictionary

In [2]:
dic = {
    'birthdate': [25, 6, 1998],
    'name': ['Ahmed', 'Khaled', 'Elsharkawy'],
    'faculty': ['Computer', 'Science', 'CU']
}

In [5]:
data2 = pd.DataFrame(dic)

In [6]:
data2

   birthdate        name   faculty
0         25       Ahmed  Computer
1          6      Khaled   Science
2       1998  Elsharkawy        CU



# Exporting data to files

In [7]:
data2.to_csv('exportTest.txt', header=True, index=True, sep=',')

# Subsets of the data

In [ ]:
data[['name', 'year']]

In [ ]:
data['rate'].mean()

In [ ]:
data['rate'].max()

In [ ]:
data['rate'].min()

In [ ]:
data['category'].unique()

In [ ]:
data['rate'].value_counts()

In [ ]:
data['rate'].value_counts().sort_index(ascending=False)

# Visualize and plot (matplotlib)

In [ ]:
%matplotlib inline

In [ ]:
data.plot()

In [ ]:
data.plot(kind='scatter', x='rate', y='votes')

In [ ]:
data['rate'].plot(kind='hist')

# Advanced Data selection (pandas)

In [ ]:
data[data['year'] > 2010]

In [ ]:
data[data['year'] == 2011]

In [ ]:
data[(data['year'] > 2010) & (data['year'] != 2011)]

In [ ]:
data[data['year'] > 2010].sort_values(by='rate', ascending=False).head(5)

# Grouping data (pandas)

In [ ]:
data.groupby('year')['rate'].max()